body, html {
  background-color: #e5ebf4;
}

.navbar {
  display: flex;
  flex-flow: row;
  color: black;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.1rem solid black;
  padding-bottom: 15px;
  font-size: large;
}

.navbar-link {
    margin: 0.5rem;
    margin-right: 20px;
}

.login-container {
  background-image: url(./assets/images/background.png);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.split-container {
  background-image: url(./assets/images/background.png);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 92vh;
}

.split-form {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  border: 0.1rem solid black;
}

.login-form {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  font-size: large;
  height:27rem;
  width:30rem;
  border: 0.1rem solid black;
  background-color: #e5ebf4;
}

.login-form-btn {
  margin: 10px;
  width: 80px;
  height: 40px;
  border: 0.1rem solid black;
  border-radius: 0.3rem;
  background-color: #E8F1DE;
  font-size: medium;
}

.login-form-btn:hover {
  background-color: red;
  color: white;
}

.titleSplit {
  width: 30rem;
  text-align: center;
  background-color: #e5ebf4;
}

.userInput {
  width: 30rem;
  text-align: center;
  font-size: large;
  background-color: #e5ebf4;
}

.split-btn {
  margin-top: 5px;
  width: 80px;
  height: 40px;
  border: 0.1rem solid black;
  border-radius: 0.3rem;
  background-color: #E8F1DE;
  font-size: large;
}

.split-btn:hover {
  background-color: red;
  color: white;
}

.expenseTitle {
  margin: 1rem;
}

.total {
  margin: 1rem;
}

.splitNum {
  margin: 1rem;
}

.splitInput, .totalInput, .titleInput {
  font-size: medium;
}

.splitInput {
  width: 2rem;
}

.totalInput {
  width: 5rem;
}

.input-login {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.input-signup {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}

.calculation {
  margin-top: 10px;
  font-size: large;
  padding: 1rem;
}

.email-label, .pass-label {
  margin: 0.3rem;
}

#githubBtn {
  display: flex;
  flex-flow: row;
  margin-bottom: 1rem;
  align-items: center;
  justify-content: space-between;
  width: 11rem;
  height: 2rem;
  border: 0.1rem solid black;
  border-radius: 0.3rem;
  background-color: black;
  color:white;
  font-size: medium; 
}

.forgot {
  margin: 0.5rem;
}

.moneygif {
  background-color: #e5ebf4;
}

.landing-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.landing {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content:center;
  font-size: large;
}

#landing-button {
  margin: 10px;
  width: 12rem;
  height: 3rem;
  border: 0.1rem solid black;
  margin-top: 2rem;
  border-radius: 0.3rem;
  background-color: #E8F1DE;
  font-size: large;
}

#landing-button:hover {
  background-color: red;
  color: white;
}

.bill {
  background-color: rgb(194, 198, 197);
  padding: 1rem;
  margin: 1rem;
}

.history {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: rgba(228, 228, 235, 0.405);
}

.historyContainer {
  background-image: url(./assets/images/background.png);
  height: 100vh;
}

.loginFalse, .signUpFalse {
  color: red;
}

.landingTitle {
  font-size: 15rem;
}

.moto {
  font-size: 2rem;
  font-family: monospace;
}

.addedBill {
  color:green;
  font-size: large;
}