body, html {
  background-color: #e5ebf4;
}

.navbar {
  display: flex;
  flex-flow: row;
  color: black;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.1rem solid black;
  padding-bottom: 15px;
  font-size: large;
}

.navbar-link {
    margin: 0.5rem;
    margin-right: 20px;
}

.navbar > h1 {
  font-size: 2rem;
  align-self: center;
  padding-left: 15rem;
}

.login-container {
  background-image: url(./assets/images/background.png);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.split-container {
  background-image: url(./assets/images/background.png);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 92vh;
}

.split-form {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  border: 0.1rem solid black;
}

.login-form {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  font-size: large;
  height:30rem;
  width:30rem;
  border: 0.1rem solid black;
  background-color: #e5ebf4;
}

.login-form-btn {
  margin-top: 5px;
  width: 80px;
  height: 40px;
  border: 0.1rem solid black;
  border-radius: 0.3rem;
  background-color: #E8F1DE;
  font-size: medium;
}

.login-form-btn:hover {
  background-color: #93C572;
  color: white;
}

.titleSplit {
  width: 30rem;
  text-align: center;
  background-color: #e5ebf4;
}

.userInput {
  width: 30rem;
  text-align: center;
  font-size: large;
  background-color: #e5ebf4;
}

.split-btn {
  margin-top: 5px;
  width: 80px;
  height: 40px;
  border: 0.1rem solid black;
  border-radius: 0.3rem;
  background-color: #E8F1DE;
  font-size: large;
}

.split-btn:hover {
  background-color: #93C572;
  color: white;
}

.expenseTitle {
  margin: 1rem;
}

.total {
  margin: 1rem;
}

.splitNum {
  margin: 1rem;
}

.splitInput, .totalInput, .titleInput {
  font-size: medium;
}

.splitInput {
  width: 2rem;
}

.totalInput {
  width: 5rem;
}

.input-login {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
.calculation {
  margin-top: 10px;
  font-size: large;
  padding: 1rem;
}

.email-label, .pass-label {
  margin: 0.3rem;
}

.github {
  margin-top: 1rem;
}

.forgot {
  margin: 0.5rem;
}

.moneygif {
  background-color: #e5ebf4;
}